*.htm
批处理if 命令示例详解(2007-11-4日更新） - BAT教程&资料 - 批处理之家 批处理_BAT脚本_PowerShell_VBS_CMD_DOS_Perl_Python - Powered by Discuz!_files/
批处理教程（建议耐心看完，必有收获） - BAT教程&资料 - 批处理之家 批处理_BAT脚本_PowerShell_VBS_CMD_DOS_Perl_Python - Powered by Discuz!_files
批处理常用命令及用法大全 - BAT教程&资料 - 批处理之家 批处理_BAT脚本_PowerShell_VBS_CMD_DOS_Perl_Python - Powered by Discuz!_files
CMD中for的用法详解（二）命令扩展_橙子Oranges的博客-CSDN博客_cmd for_files
test.bat